/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Start of global styles */
:root {
    --light-font-color:var(--light-font-color);
}
input, button {
    appearance: none;
    border: none;
    background: none;
    outline: none;
}
/* End global styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(300deg,rgba(26, 56, 100, 0.8), rgb(61, 75, 123));
    color: white;
    font-family: sans-serif;
}
/* Start of page header styles */
header {
    padding: 2rem 1rem;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--light-font-color);
    margin-bottom: 1rem;
}
.task-group-add {
    display: flex;
}
/* Task input */
#new-task {
    flex: 1 1 0%;
    background-color: rgba(26, 56, 100, 0.445);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light-font-color);
    font-size: 1.25rem;
}
#new-task::placeholder {
    color: gray;
}
/* New task button */
#new-taskBtn {
    font-size: 1.25rem;
    font-weight: 700;
    background: linear-gradient(to right, rgb(81, 148, 101), rgb(96, 209, 43));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all 250ms ease;
}
#new-taskBtn:hover {
    opacity: 0.8;
    cursor: pointer;
}
#new-taskBtn:active {
    opacity: 0.6;
}
/* End of page header styles */
/* Start of page content */
main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
/* Start of task section */
.task-list {
    padding: 1rem;
}
.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--light-font-color);
    margin-bottom: 1rem;
}
.task {
    display: flex;
    justify-content: space-between;
    background-color: darkgrey;
    padding:1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.task-text {
    color: aquamarine;
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: all 400ms ease;
}
.task-content .task-text:not(:read-only) {
    color: red;
}
/* Start of button styles */
.task-actions {
    display: flex;
}
.task-actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 200;
    text-decoration: uppercase;
    transition: all 250ms ease;
}
.task-actions button:hover {
    opacity: 0.8;
}
.task-actions:active {
    opacity: 0.6;
}
.task-actions .edit {
    background: linear-gradient(rgb(63, 125, 55), purple);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.task-actions .delete {
    color: red;
}
/* End of button styles */
/* End of task section */
/* End of page content */